.Explore-Menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Explore-Menu h1{
    color: #262626;
    font-weight: 500;
}
.Explore-Menu-text{
    max-width: 60%;
    color: #808080;
}
.Explore-Menu-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 1px;
    overflow-x:scroll ;

}
.Explore-Menu-list::-webkit-scrollbar{
    display: flex;
}
.Explore-Menu-item img{
    width: 7.5vw;
     min-width: 80px;
     cursor: pointer;
     border-radius: 50%;
     transition: 0.3s;
}
.Explore-Menu-item p{
    margin-top: 10px;
    color: #747574;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.Explore-Menu hr{
    margin: 10px0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.Explore-Menu-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
@media (max-width:1050px){ 
    .Explore-Menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}