.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
    padding: 20px 8vw;
    margin-top: 100px;
}
.footer-contant{
     width: 100%;
     display: grid;
     grid-template-columns: 2fr  1fr 1fr ;
     gap: 80px;
}

.footer-contant-left , .footer-contant-right , .footer-contant-center{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 20px;
}

.footer-contant-left li,.footer-contant-right li,.footer-contant-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-contant-right h2,.footer-contant-center h2{
   color: white;
   margin-top: 20px;
}
.footer-social-icon img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20 0px;
    background-color: gray;
    border: none;
}

@media (max-width:750px) {
    .footer-contant{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .foodter-copyright{
        text-align: center;
    }
}